#contact_cta {
	background: #ffffff;
	width: 980px;
	height: 330px;
	border-radius: 0px 0px 50px 0px;
	
}

#contact_form {
}

#contact_form_input {
	margin-left: 30px;
}

#input_group {
	float: left;
	margin-right: 30px;
	margin-top: 20px;
}

#contact_information {
	background: url('../images/contact_info_bg.png') no-repeat
}

#contact_information p {
	background: #ffffff;
	opacity: .8;
	color: #000000;
	text-align: center;
	font-weight: bold;
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

#sub_cta #location {
	margin: 20px 0px 0px 0px;
	border: none;
	border-top: 1px solid;
	border-color: #ffffff;
	float: left;
}

#sub_cta #location h1 {
	padding: 15px 0px 6px 0px;
}

#sub_cta #location a {
	color: #1f7cd9;
}

#sub_cta #location a:hover {
	color:  red;
}