/*
main style for Spring Lake Elementary School
*/

html {
	background: #grey;
}

h1, h2, h3, h4, h5, h6, p, li, a {
	font-family: helvetica, arial;
}

h1 {
	font-size: 22px;
	color: #993300;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

body {
	background: #F5F5F5; 
	max-width: 980px;
	width: 980px; /*980px*/
	margin: auto;
	font-size: 1em; /*16px*/
}

header {
	width: 980px;
	height: 110px;
	background: #ffffff;
}

#logo {
	width: 100px;
	height: 100px;
	float: left;
	padding-right: 30px;
	padding-top: 5px;
	padding-left: 5px;
}

nav ul{
}

nav ul li {
	margin-top: 82px;
	margin-right: 70px;
	float: left;
	font-size: 14px;
}

nav ul li a {
	color: #333399;
}

nav ul li a:hover {
	color: #0066cc;
	text-decoration: none;

}

nav ul #active {
	border-bottom: 4px solid;
	border-color: #ff6633;
}

section {
	
}

article {
	
}

