@charset "UTF-8";
/*
main style for Spring Lake Elementary School
*/

html {
	background: url('../images/html_bg.jpg') repeat;
	font: 100% Cantarell, Arial, Helvetica, sans-serif;
}

h1 {
	font-family: 'The Girl Next Door', cursive;
	font-size: 1.5em; /*24px*/
	color: #ff6633;
	background: #ffffff;
	border-radius: 0 20px 20px 0;
	padding: 10px 10px 10px 10px;
	margin: 10px 0 10px 0;
	display: inline-block;
}

h2 {
	font-size: 1.375em; /*22px*/
	color: orange;
	padding: 15px 0px 15px 10px;
}

h3 {
	font-size: 1em; /*16px*/
	padding: 0 0 5px 10px;
}

p {
	font-size: .875em; /*14px*/
	line-height: 20px;
	padding: 0 10px 10px 10px;
}

a {
	color: #1f7cd9;
}

a:hover {
	text-decoration: none;
	color: #3399ff;
}

address a {
	color: #ffffff;
}

address a:hover {
	color: #ffffff;
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

.green {
	font-size: 16px;
	color: #006600;
	
}

img {
	width: 45%;
	margin: 0 0 3% 3%;
	border: 1px solid #ffffff;
}

body {
	max-width: 980px;
	width: 100%; /*980px*/
	margin: 10px auto;
	font-size: 1em; /*16px*/
}

header {
	background: white;
	opacity: .8;
	filter:alpha(opacity=40); /* For IE8 and earlier */
	border-radius: 0px 50px 0px 0px;
	width: 100%;
	height: 130px;
}

header img {
	width: 12.244897959184%;
	float: left;
	margin: 0;
}

nav {
}

nav ul li {
	margin: 100px 5% 0 0;
	height: 25px;
	float: left;
	padding: 0%;
	overflow: hidden;
}

nav ul li a {
	color: #6699cc;
	text-decoration: none;
}

nav ul li a:hover {
	color: #0066cc;
}

nav ul #active {
	border-bottom: 4px solid;
	border-color: #669933;
}

nav ul #active a {
	text-transform: none;
}

#cta {
	background: #ffffff;
	width: 100%;
	height: 330px;
}

#home_cta {
	width: 100%;
	height: 330px;
	background: url(../images/home_cta_bg.jpg);
}

#parents_cta {
	width: 100%;
	height: 330px;
	background: url(../images/parents_cta_bg.jpg);
}

#calendar_cta {
	width: 100%;
	height: 700px;
	background: #3366cc;
}

#faculty_cta {
	width: 100%;
	height: 100%;
	background: #3366cc;
}

#faculty_cta p {
	color: #ffffff;
}

#support_cta {
	width: 100%;
	background: #3366cc;
}

#support_cta img {
	width: 14%;
	margin-left: 1.020408163265%;
	border: 2px solid #000000;
}

#support_cta p {
	color: #ffffff;
}

#contact_cta {
	background: #ffffff;
	width: 980px;
	height: 330px;
	border-radius: 0px 0px 50px 0px;
	
}

#contact_form_input {
	margin-left: 30px;
}

#input_group {
	float: left;
	margin-right: 30px;
	margin-top: 20px;
}


#left_cta {	
	width: 68.367346938776%; /*470px*/
	float: left;
}

#right_cta {
	width: 30%; /*310px*/
	margin: auto;
	float: left;
}

#form_input {
	padding: 10px;
	background: #f7f7f7;
	background: -moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
	border: 1px solid #aaa;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 0 15px #aaa;
	-webkit-box-shadow: 0 0 15px #aaa;
}

label {
	font-family: Arial, Verdana; 
	display: block; 
	font-weight: bold; 
	line-height: 10px; 
	font-size: 15px; 
	margin-bottom: 5px;
	}
	
input {
	width: 90%;
	font-family: Arial, Verdana; 
	font-size: 20px; 
	padding: 4px; 
	border: 1px solid #ffffff; 
	border-radius: 5px;
	margin-bottom: 7px;
	color: #ffffff;
	background:  #3366cc;	
	}
	
input:focus {
	background-color:#3399ff;	
	border: 1px solid #3366cc;
	}
	
textarea {
	height:150px;	
	}

.button {
	background-color: #669933; 
	background-image: url(images/fallback-gradient.png); 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99ff33), to(#669933));
	background-image: -webkit-linear-gradient(top, #99ff33, #669933); 
	background-image: -moz-linear-gradient(top, #99ff33, #669933);
	background-image: -ms-linear-gradient(top, #99ff33, #669933);
	background-image: -o-linear-gradient(top, #99ff33, #669933);
	width: 100px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	margin-top: 7px;
}

.button:hover {
	background: #99cc66;
	cursor: pointer;
}

.round_number {
	visibility: hidden;
}

#sub_cta li {
	margin: 0px 0px 10px 0px;
	line-height: 0px;
}

#sub_cta article {
	width: 31.632653061224%; /*310px*/
	margin: 0 2.34693877551% 20px 0;  /*23px*/
	margin-top: 20px;
	border-top: 1px solid;
	border-color: #ffffff;
	float: left;
}

#sub_cta article:last-child {
	margin-right: 0;
}

#sub_cta article a {
	color: #1f7cd9;
	font-size: 14px;
}

#sub_cta article a:hover {
	text-decoration: none;
	color: #3399ff;
}

#more_info {
	width: 100%;
	clear: both;
}

#more_info article {
	background: #ffffff;
	width: 50%;
	height: 470px;
	margin: 0;
	float: left;
}

#more_info #directions {
	width: 100%;
	height: 400px;
	border: 1px solid #ffffff;
	background: url('../images/directions_bg.png') no-repeat	
}

#more_info #directions p {
	background: #ffffff;
	opacity: .7;
	border-radius: 0px 0px 0px 10px;
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
	padding: 10px;
	margin-bottom: 60px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: 80;
	width: 80%;
	font-size: 22px;
}

ol li {
	background-image: url(../images/list_bg.png);
	background-repeat: no-repeat;
	padding-left: 30px;
	height: 40px;
	line-height: 30px
}

footer {
	background: #3366cc;
	padding: 10px 0px 10px 10px;
	clear: both;
	border-radius: 0px 0px 30px 0px;
}

address {
	color: white;
	line-height: 10px;
	font-size: 12px;
}

address p {
	line-height: 10px;
}
