/*
main style for Spring Lake Elementary School
*/

html {
	background: url('../images/html_bg.jpg') repeat;
	
}

h1, h2, h3, h4, h5, h6, p, li, a {
	font-family: helvetica, arial;
}

h1 {
	font-size: 20px;
	color: #ff6633;
	padding: 15px 0px 18px 20px;
}

body {
	background: #F5F5F5; 
	max-width: 980px;
	width: 980px; /*980px*/
	margin: auto;
	font-size: 1em; /*16px*/
}

header {
	width: 980px;
	height: 110px;
	background: #ffffff;
}

#logo {
	width: 100px;
	height: 100px;
	float: left;
	padding-right: 30px;
	padding-top: 5px;
	padding-left: 5px;
}


nav {
}

nav ul {
}

nav ul li {
	margin-top: 82px;
	margin-right: 60px;
	float: left;
	font-size: 16px;
}

nav ul li a {
	color: #6699cc
}

nav ul li a:hover {
	color: #0066cc;
	text-decoration: none;
}

nav ul #active {
	border-bottom: 4px solid;
	border-color: #669933;
}

nav ul #active a {
	text-transform: none;
}

#cta {
	background: url(../images/cta_bg.jpg);
	width: 980px;
	height: 330px;
}

#cta h2 {
	color: #ffffff;
	font-size: 14px;
	padding: 0px 0px 10px 20px;
}

#left_cta {	
	width: 500px;
	height: 330px;
	float: left;
}

#left_cta h1 {
	font-family: 'The Girl Next Door', cursive;
	font-size: 24px;
}

#right_cta {
	height: 330px;
	width: 350px;
	float: right;
}


#form {
	float: right;
	margin-right: 30px;
}

#form h1 {
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 0px;
}

#form_input {
	width: 212px;
	margin: 0px 0px 0px 0px;
	padding: 20px;
	background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;
	clear: both;
	
}

#form div {
	margin: 0px;
}

label {
	font-family: Arial, Verdana; 
	display: block; 
	font-weight: bold; 
	width: 100px; 
	line-height: 10px; 
	font-size: 15px; 
	}
	
input {
	font-family: Arial, Verdana; 
	font-size: 15px; 
	padding: 5px; 
	border: 1px solid #ffffff; 
	width: 200px; 
	color: #ffffff;
	background:  #3366cc;	
	}
	
input:focus {
	background-color:#3399ff;	
	border: 1px solid #3366cc;
	}
	
textarea {
	height:150px;	
	}

.button {
	background: #669933;
	width: 100px;
}

.button:hover {
	background: #99cc66;
	cursor: pointer;
}

	
#sub_cta {
	background: #ffffff;
	width: 100%;
	height: 325px;
}

#sub_cta p {
	margin: 0px 20px 10px 20px;
	line-height: 20px;
}

#sub_cta li {
	margin: 0px 20px 10px 20px;

}

#sub_cta article {
	width: 310px;
	height: 275px;
	margin-right: 23px;
	margin-top: 20px;
	background: #ffffff;
	border: 1px solid;
	float: left;
}

#sub_cta article h2 {
	margin: 0px 20px 10px 20px;
}

#sub_cta #news {
	margin: 20px 0px 0px 0px;
	background: #ffffff;
	border: none;
	border-top: 1px solid;
	border-color: #ffffff;
}

#sub_cta #news a {
	color: #1f7cd9;
	font-size: 14px;
}

#sub_cta #news a:hover {
	text-decoration: none;
}

#sub_cta #news li {
	margin: 0px 20px 10px 20px;

}

#more_info {
	background: #ffffff;
	overflow: hidden;
}

#more_info article {
	width: 470px;
	height: 500px;
	margin: 0px 0px 0px 0px;
	float: left;
}

#more_info article p {
	margin: 0px 20px 10px 20px;
	line-height: 20px;
}

#more_info #about {
	margin-right: 40px;
	
}

#more_info #technology {	
}

ol {
}

ol li {
}

footer {
	background: #3366cc;
	clear: both;
}

address {
	color: white;
}
